In [298]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [299]:
path = "/content/drive/MyDrive/AML project/Dataset/players.csv"
df = pd.read_csv(path)

In [300]:
df.shape

(19002, 56)

In [301]:
#df['int_stamina', 'int_strength', 'int_ball_control', 'int_fk_accuracy'].describe()
df.describe()

,int_player_id,int_height,int_weight,int_overall_rating,int_potential_rating,int_best_overall_rating,int_value,int_wage,int_team_id,int_crossing,...,int_strength,int_long_shots,int_weak_foot,int_skill_moves,int_international_reputations,int_dribbling,int_curve,int_fk_accuracy,int_long_passing,int_ball_control
count,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,1.900200e+04,19002.000000,18767.000000,19002.000000,...,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000
mean,9501.500000,181.225660,75.046311,65.754868,71.148932,66.784286,2.891449e+06,9113.167035,332.655086,49.690454,...,64.829386,46.812967,2.942217,2.365540,1.090569,55.607462,47.271603,42.394432,52.779971,58.552416
std,5485.549243,6.847472,7.078378,6.948835,6.115352,6.733926,7.733189e+06,19735.324238,196.415422,18.141514,...,12.469760,19.307572,0.669568,0.766687,0.359019,18.786894,18.217325,17.240399,15.172601,16.580120
min,1.000000,155.000000,50.000000,47.000000,48.000000,48.000000,0.000000e+00,0.000000,1.000000,6.000000,...,16.000000,4.000000,1.000000,1.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000
25%,4751.250000,176.000000,70.000000,61.000000,67.000000,62.000000,4.750000e+05,1000.000000,162.000000,38.000000,...,57.000000,32.000000,3.000000,2.000000,1.000000,49.000000,35.000000,31.000000,43.000000,54.000000
50%,9501.500000,181.000000,75.000000,66.000000,71.000000,67.000000,9.500000e+05,3000.000000,330.000000,54.000000,...,66.000000,51.000000,3.000000,2.000000,1.000000,61.000000,49.000000,41.000000,56.000000,63.000000
75%,14251.750000,186.000000,80.000000,70.000000,75.000000,71.000000,2.000000e+06,8000.000000,502.000000,63.000000,...,74.000000,62.000000,3.000000,3.000000,1.000000,68.000000,61.000000,55.000000,64.000000,69.000000
max,19002.000000,206.000000,110.000000,93.000000,95.000000,93.000000,1.855000e+08,560000.000000,681.000000,94.000000,...,97.000000,94.000000,5.000000,5.000000,5.000000,96.000000,94.000000,94.000000,93.000000,96.000000

In [303]:
# selecting the columns that are more relevent to the consequents.
selected_cols = ['int_height', 'int_weight', 'int_overall_rating', 'int_value', 'str_body_type', 'str_work_rate', 'int_skill_moves', 'int_reflexes', 'int_stamina', 'int_strength', 'int_ball_control', 'int_fk_accuracy' ]
as_df = df[selected_cols]

In [304]:
# data frame for the association rule mining.
as_df

,int_height,int_weight,int_overall_rating,int_value,str_body_type,str_work_rate,int_skill_moves,int_reflexes,int_stamina,int_strength,int_ball_control,int_fk_accuracy
0,170,72,93,103500000,Unique,Medium/ Low,4,8,72,69,96,94
1,187,83,92,63000000,Unique,High/ Low,5,11,84,78,92,76
2,188,87,91,120000000,Unique,Medium/ Medium,1,90,41,78,30,14
3,181,70,91,129000000,Unique,High/ High,4,13,89,74,92,83
4,175,68,91,132000000,Unique,High/ Medium,5,11,81,50,95,89
...,...,...,...,...,...,...,...,...,...,...,...,...
18997,177,70,47,70000,Normal (170-185),Low/ Low,2,6,55,45,24,22
18998,171,58,47,130000,Lean (170-185),Medium/ Medium,2,6,55,35,44,31
18999,178,66,47,100000,Lean (170-185),Medium/ Medium,2,11,54,50,42,21
19000,175,65,47,130000,Lean (170-185),Medium/ Medium,2,8,43,47,48,35
19001,174,68,47,120000,Normal (170-185),Medium/ Medium,2,14,47,47,43,32

converting the continuous value columns to categorical based on their min max values

In [305]:
as_df['int_fk_accuracy'] = pd.cut(x = df['int_fk_accuracy'], bins = [10, 60, 70, 100],labels = ["low", "mid", "high"])

<ipython-input-305-08e9cd7d8060>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_fk_accuracy'] = pd.cut(x = df['int_fk_accuracy'], bins = [10, 60, 70, 100],labels = ["low", "mid", "high"])

In [306]:
as_df['int_ball_control'] = pd.cut(x = df['int_ball_control'], bins = [10, 60, 70, 100],labels = ["low", "mid", "high"])

<ipython-input-306-8f3e78c5e364>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_ball_control'] = pd.cut(x = df['int_ball_control'], bins = [10, 60, 70, 100],labels = ["low", "mid", "high"])

In [307]:
as_df['int_stamina'] = pd.cut(x = df['int_stamina'], bins = [10, 60, 70, 100],labels = ["low", "mid", "high"])

<ipython-input-307-0d0b9ab0cc76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_stamina'] = pd.cut(x = df['int_stamina'], bins = [10, 60, 70, 100],labels = ["low", "mid", "high"])

In [308]:
as_df['int_strength'] = pd.cut(x = df['int_strength'], bins = [15, 60, 70, 100],labels = ["low", "mid", "high"])

<ipython-input-308-e06c8cb21b47>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_strength'] = pd.cut(x = df['int_strength'], bins = [15, 60, 70, 100],labels = ["low", "mid", "high"])

In [309]:
as_df['int_reflexes'] = pd.cut(x = df['int_reflexes'], bins = [0, 10, 13, 100],labels = ["low", "mid", "high"])

<ipython-input-309-6898355287db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_reflexes'] = pd.cut(x = df['int_reflexes'], bins = [0, 10, 13, 100],labels = ["low", "mid", "high"])

In [310]:
as_df['int_skill_moves'] = pd.cut(x = df['int_skill_moves'], bins = [0,2, 3, 5],labels = ["low", "mid", "high"])

<ipython-input-310-69875188cc4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_skill_moves'] = pd.cut(x = df['int_skill_moves'], bins = [0,2, 3, 5],labels = ["low", "mid", "high"])

In [311]:
as_df['int_value'] = pd.cut(x = df['int_value'], bins = [0, 500000, 950000, 185600000],labels = ["low", "mid", "high"])

<ipython-input-311-453029b3a911>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_value'] = pd.cut(x = df['int_value'], bins = [0, 500000, 950000, 185600000],labels = ["low", "mid", "high"])

In [312]:
as_df['int_overall_rating'] = pd.cut(x = df['int_overall_rating'], bins = [30, 45, 60, 100],labels = ["low", "mid", "high"])

<ipython-input-312-1551425fc477>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_overall_rating'] = pd.cut(x = df['int_overall_rating'], bins = [30, 45, 60, 100],labels = ["low", "mid", "high"])

In [313]:
as_df['int_weight'] = pd.cut(x = df['int_weight'], bins = [40, 72, 90, 112],labels = ["low", "mid", "high"])

<ipython-input-313-295d1c1c5ed2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_weight'] = pd.cut(x = df['int_weight'], bins = [40, 72, 90, 112],labels = ["low", "mid", "high"])

In [314]:
as_df['int_height'] = pd.cut(x = df['int_height'], bins = [150, 178, 182, 208],labels = ["low", "mid", "high"])

<ipython-input-314-a3dcb2a24d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_df['int_height'] = pd.cut(x = df['int_height'], bins = [150, 178, 182, 208],labels = ["low", "mid", "high"])

In [315]:
as_df

,int_height,int_weight,int_overall_rating,int_value,str_body_type,str_work_rate,int_skill_moves,int_reflexes,int_stamina,int_strength,int_ball_control,int_fk_accuracy
0,low,low,high,high,Unique,Medium/ Low,high,low,high,mid,high,high
1,high,mid,high,high,Unique,High/ Low,high,mid,high,high,high,high
2,high,mid,high,high,Unique,Medium/ Medium,low,high,low,high,low,low
3,mid,low,high,high,Unique,High/ High,high,mid,high,high,high,high
4,low,low,high,high,Unique,High/ Medium,high,mid,high,low,high,high
...,...,...,...,...,...,...,...,...,...,...,...,...
18997,low,low,mid,low,Normal (170-185),Low/ Low,low,low,low,low,low,low
18998,low,low,mid,low,Lean (170-185),Medium/ Medium,low,low,low,low,low,low
18999,low,low,mid,low,Lean (170-185),Medium/ Medium,low,mid,low,low,low,low
19000,low,low,mid,low,Lean (170-185),Medium/ Medium,low,low,low,low,low,low
19001,low,low,mid,low,Normal (170-185),Medium/ Medium,low,high,low,low,low,low

In [316]:
# converting the data frame with factors to one hot encoded format
as_onehot = pd.get_dummies(as_df)

In [317]:
# one hot encoded data frame
as_onehot

,int_height_low,int_height_mid,int_height_high,int_weight_low,int_weight_mid,int_weight_high,int_overall_rating_low,int_overall_rating_mid,int_overall_rating_high,int_value_low,...,int_stamina_high,int_strength_low,int_strength_mid,int_strength_high,int_ball_control_low,int_ball_control_mid,int_ball_control_high,int_fk_accuracy_low,int_fk_accuracy_mid,int_fk_accuracy_high
0,1,0,0,1,0,0,0,0,1,0,...,1,0,1,0,0,0,1,0,0,1
1,0,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,1
2,0,0,1,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,1,0,0
3,0,1,0,1,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,1
4,1,0,0,1,0,0,0,0,1,0,...,1,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18997,1,0,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
18998,1,0,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
18999,1,0,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
19000,1,0,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
19001,1,0,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0

In [318]:
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

# writing the rules with support
frequent_item = apriori(as_onehot, min_support=0.02, use_colnames=True)

# generating the association rules with confidance 
rules = association_rules(frequent_item, metric = 'confidence', min_threshold=0.3)

In [319]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(int_weight_low),(int_height_low),0.373329,0.362330,0.272182,0.729067,2.012161,0.136913,2.353605
1,(int_height_low),(int_weight_low),0.362330,0.373329,0.272182,0.751198,2.012161,0.136913,2.518756
2,(int_overall_rating_mid),(int_height_low),0.217872,0.362330,0.085570,0.392754,1.083966,0.006628,1.050100
3,(int_height_low),(int_overall_rating_high),0.362330,0.782128,0.276760,0.763834,0.976610,-0.006628,0.922538
4,(int_overall_rating_high),(int_height_low),0.782128,0.362330,0.276760,0.353855,0.976610,-0.006628,0.986884
...,...,...,...,...,...,...,...,...,...
456365,"(int_stamina_low, int_strength_mid, int_height...","(int_ball_control_low, int_fk_accuracy_low, in...",0.063520,0.054468,0.020419,0.321458,5.901785,0.016959,1.393476
456366,"(int_strength_mid, str_work_rate_Medium/ Mediu...","(int_ball_control_low, int_fk_accuracy_low, in...",0.063256,0.070993,0.020419,0.322795,4.546892,0.015928,1.371827
456367,"(int_skill_moves_low, int_strength_mid, int_re...","(int_ball_control_low, int_fk_accuracy_low, in...",0.061415,0.062414,0.020419,0.332476,5.326912,0.016586,1.404573
456368,"(int_strength_mid, int_reflexes_high, int_heig...","(int_ball_control_low, int_fk_accuracy_low, in...",0.051363,0.061730,0.020419,0.397541,6.439961,0.017248,1.557400
456369,"(str_body_type_Normal (185+), int_strength_mid)","(int_ball_control_low, int_fk_accuracy_low, in...",0.047048,0.077834,0.020419,0.434004,5.576033,0.016757,1.629282

In [320]:
# sorting the rules based on highest confidance
rules = rules.sort_values(['confidence', 'lift', 'support'], ascending =[False, False, False])

In [321]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
402077,"(int_ball_control_low, str_body_type_Normal (1...","(int_skill_moves_low, int_height_high, int_ove...",0.021998,0.249447,0.021998,1.0,4.008861,0.016510,inf
403069,"(int_ball_control_low, str_body_type_Normal (1...","(int_skill_moves_low, int_height_high, int_ove...",0.020735,0.249447,0.020735,1.0,4.008861,0.015562,inf
445828,"(int_ball_control_low, str_body_type_Normal (1...","(int_skill_moves_low, int_height_high, int_ove...",0.020419,0.249447,0.020419,1.0,4.008861,0.015325,inf
78113,"(str_body_type_Normal (185+), int_strength_low...","(str_work_rate_Medium/ Medium, int_height_high)",0.026050,0.263499,0.026050,1.0,3.795087,0.019186,inf
191613,"(str_body_type_Normal (185+), int_strength_low...","(str_work_rate_Medium/ Medium, int_height_high)",0.025892,0.263499,0.025892,1.0,3.795087,0.019070,inf
...,...,...,...,...,...,...,...,...,...
228602,"(int_fk_accuracy_low, int_weight_mid, str_work...",(int_reflexes_high),0.093148,0.281760,0.027944,0.3,1.064737,0.001699,1.026057
280447,"(int_ball_control_low, int_reflexes_low, int_s...","(int_height_high, int_weight_mid, int_overall_...",0.136301,0.313335,0.040890,0.3,0.957440,-0.001818,0.980949
42981,"(int_ball_control_low, int_stamina_low, int_sk...",(int_strength_mid),0.218398,0.317072,0.065519,0.3,0.946158,-0.003728,0.975612
91624,"(int_skill_moves_low, int_value_mid, int_weigh...",(int_strength_mid),0.083675,0.317072,0.025103,0.3,0.946158,-0.001428,0.975612
42304,"(int_reflexes_low, str_work_rate_Medium/ Mediu...",(int_strength_high),0.094201,0.345122,0.028260,0.3,0.869259,-0.004250,0.935541

In [322]:
# printing the top rules with a minimum length of ascendents as 2 and consequent as the int_overall_rating_high.
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))

# Display the association rules with required attributes.
rules_results = rules[(rules['antecedent_len'] >= 2) & 
                (rules['consequents'] == {'int_overall_rating_high'})][['antecedents', 'consequents', 'support', 'confidence', 'lift']]

rules_results

,antecedents,consequents,support,confidence,lift
4326,"(int_value_high, int_fk_accuracy_low)",(int_overall_rating_high),0.360962,1.000000,1.278563
3126,"(int_value_high, int_weight_mid)",(int_overall_rating_high),0.306652,1.000000,1.278563
4295,"(int_stamina_high, int_value_high)",(int_overall_rating_high),0.242448,1.000000,1.278563
4267,"(int_skill_moves_mid, int_value_high)",(int_overall_rating_high),0.238185,1.000000,1.278563
4276,"(int_reflexes_low, int_value_high)",(int_overall_rating_high),0.237712,1.000000,1.278563
...,...,...,...,...,...
207686,"(int_ball_control_low, int_fk_accuracy_low, in...",(int_overall_rating_high),0.026787,0.304244,0.388995
91370,"(int_stamina_low, int_value_low, int_fk_accura...",(int_overall_rating_high),0.027366,0.304094,0.388803
207772,"(int_fk_accuracy_low, int_weight_mid, int_stam...",(int_overall_rating_high),0.025734,0.303538,0.388093
2557,"(int_ball_control_low, int_weight_low)",(int_overall_rating_high),0.033839,0.302304,0.386514
4166,"(int_skill_moves_low, int_value_low)",(int_overall_rating_high),0.070203,0.300248,0.383885

In [323]:
## printing the top rules with a minimum length of ascendents as 2 and consequent as the int_value_high.
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))

# Display the association rules with required attributes.
rules_results = rules[(rules['antecedent_len'] >= 2) & 
                (rules['consequents'] == {'int_value_high'})][['antecedents', 'consequents', 'support', 'confidence', 'lift']]

rules_results

,antecedents,consequents,support,confidence,lift
39601,"(int_stamina_high, int_fk_accuracy_high, int_b...",(int_value_high),0.023629,0.982495,1.966231
116519,"(int_stamina_high, int_fk_accuracy_high, int_b...",(int_value_high),0.023629,0.982495,1.966231
126392,"(int_skill_moves_mid, int_stamina_high, int_ba...",(int_value_high),0.024418,0.978903,1.959043
239403,"(int_ball_control_high, int_skill_moves_mid, i...",(int_value_high),0.024418,0.978903,1.959043
165510,"(int_ball_control_high, int_weight_mid, int_st...",(int_value_high),0.024208,0.976645,1.954525
...,...,...,...,...,...
101676,"(int_ball_control_low, int_stamina_low, int_re...",(int_value_high),0.031049,0.300560,0.601501
249571,"(int_ball_control_low, int_fk_accuracy_low, st...",(int_value_high),0.027734,0.300456,0.601292
318869,"(int_ball_control_low, int_fk_accuracy_low, st...",(int_value_high),0.027734,0.300456,0.601292
289971,"(int_fk_accuracy_low, int_weight_mid, int_stam...",(int_value_high),0.033470,0.300283,0.600946
249935,"(int_ball_control_low, int_fk_accuracy_low, in...",(int_value_high),0.031891,0.300149,0.600677